.about-us-container {
    height: 100vh;
    text-align: center;
    font-size: 30px;
}

.about-us-container .entry-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.about-us-container .entry-content .img-box {
    max-width: 30%;
    position: relative;
}

.about-us-container .img-box img {
    max-width: 100%;
    width: 100%;
    box-shadow: 10px 7px 32px -3px rgba(0,0,0,0.75);
}

.about-us-container .img-box img:first-child {
    position: absolute;
    transform: translate(40%, 115%);
    max-width: 90%;
}

.about-us-container .img-box img:last-child{
    object-fit: contain;
}
.about-us-container .about-content {
    width: 35%;
    font-size: 20px;
    text-align: justify;
    color: grey;
    text-indent: 1.5em;
}
.about-us-container .about-content h3{
    color: red;
    text-align: center;
    font-weight: normal;
    text-indent: 0;
}
.store-information-content{
    max-height: 40%;
    background-color: #efb1f8;
    display: flex;
}
.store-information-content .general-information{
    width: 60%;
}
.store-information-content img{
    width: 30%;

}