* {
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    border: #02010f 1px solid;
}

.banner {
    height: 100vh;
    background: url("../img/banner.jpg") center center no-repeat;
    background-size: cover;
}

.banner .head {
    display: flex;
    height: 90px;
    background: rgba(230, 230, 230, 0.5);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
}

.banner .head .head-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.banner .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.banner .logo .abbr-logo-name {
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    padding-left: 15px;
}

.banner .logo .abbr-logo-name:after {
    display: inline-block;
    content: '\2014';
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    margin: -25px;
}

.banner .logo .logo-name {
    font-size: 15px;
    padding-left: 10px;
    color: #fda429;
    font-weight: bold;
    text-shadow: 2px 2px 2px #CE5937;
}

.banner .navigation {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-right: 15px;
}

.banner .navigation a {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

.banner .navigation a:hover {
    text-decoration: none;
    border-bottom: 3px solid #fff4c1;
    padding-bottom: 1px;
}

.banner .homepage-container-body {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .main-title,
.banner .homepage-content {
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    text-shadow: #474747 3px 5px 2px, 2px 2px 2px rgba(206, 89, 55, 0);
}

.banner .homepage-content {
    font-size: 20px;
    line-height: 1.5em;
}
