.wrapper {
    text-align: center;
    font-size: 30px;
}

.wrapper .entry-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.wrapper .entry-content .img-box {
    max-width: 30%;
    position: relative;
}

.wrapper .img-box img {
    max-width: 100%;
    width: 100%;
    box-shadow: 10px 7px 32px -3px rgba(0, 0, 0, 0.75);
}

.wrapper .img-box img:first-child {
    position: absolute;
    transform: translate(40%, 115%);
    max-width: 90%;
}

.wrapper .img-box img:last-child {
    object-fit: contain;
}

.wrapper .about-content {
    max-width: 30%;
    font-size: 20px;
    text-align: justify;
    color: grey;
    text-indent: 1.5em;
}

.wrapper .about-content h3 {
    color: red;
    text-align: center;
    font-weight: normal;
    text-indent: 0;
}

.store-information-content {
    margin-top: 20px;
    background-color: #fbe1ee;
    display: flex;
    justify-content: center;
}

.store-information-content .general-information {
    width: 40%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.store-information-content .content-head {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    align-items: stretch;
}

.store-information-content .content-head h3 {
    color: red;
    font-weight: normal;
}

.store-information-content .btn-read {
    width: 90px;
    height: 35px;
    background-color: #c291cb;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.store-information-content .btn-read a {
    color: #333333;
}

.store-information-content .btn-read:hover {
    background-color: #966d9f;
    color: #646464;
}

.store-information-content .btn-read:hover a {
    color: black;
}

.store-information-content .img-container {
    width: 25%;
    margin: 10px 70px;
}

.store-information-content .img-container img {
    max-width: 100%;
}


@media (max-width: 767px) {
    * {
        font-size: 20px;
    }

    .wrapper .entry-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper .about-content {
        max-width: 90%;
    }

    .store-information-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .general-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .general-information .content-footer {
        padding: 20px;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 15px;
    }

}
